<!--  <title> Bibliothéques </title>
     <link href="http://fonts.googleapis.com/css?family=Creepster" rel ="stylesheet"/>
     <link href="/css/main.css" rel ="stylesheet"/> 
   <h1> Bibliothéques Node.js</h2>   

<ul id="menu-demo2">
	<li><a href="/">Chaine de caractère</a>
		<ul>
			<li><a href="/concatene">Concaténation</a></li>
			<li><a href="/longueur">Longueur</a></li>
			<li><a href="/majuscule">Majuscule</a></li>
			<li><a href="/minuscule">Minuscule</a></li>
		</ul>
	</li>
	<li><a href="/">Mathémathique</a>
		<ul>
			<li><a href="/racine">Racine carré</a></li>
			<li><a href="/puissance">Puissance</a></li>
			<li><a href="/factorielle">Factorielle</a></li>
			
		</ul>
	</li>
	<li><a href="/">Gestion de fichiers</a>
		<ul>
			<li><a href="/fichierEJS">Créer un fichier EJS</a></li>
                        <li><a href="/fichierJS">Créer un fichier JavaScript</a></li>
                        <li><a href="/fichierCSS">Créer un fichier CSS</a></li>
			<li><a href="/listeEJS">Ouvrir un fichier EJS</a></li>
                        <li><a href="/listeJS">Ouvrir un fichier JS</a></li>
                        <li><a href="/listeCSS">Ouvrir un fichier CSS</a></li>
			
		</ul>
	</li>
	<li><a href="/">mongoDB</a>
		<ul>
			<li><a href="/create_personne">Ajouter un utilisateur</a></li>
			<li><a href="/personnes">Liste d'utilisateurs</a></li>
			
		</ul>
	</li>
</ul>

 -->