 <template name="ouvrirFichier">
<form id="monForm" >
  <h2> Fichier  </h2>

   <ul>
  {{#each setAuthor}}
    <!-- <li>{{this}}</li> -->
    <!-- href="{{pathFor route='openfile'}}" -->
    <!-- <li> <a href="myfiles/:{{this}}" id="linkA" data-id="{{this}}">{{this}}</a></li> -->
   <!--  <li> <a href="openfile/{{this}}">{{this}}</a></li> -->
    <li> <a href="multi/{{this}}">{{this}}</a></li>
  {{/each}}
  </ul>


<br />
<br />
  <input type ='submit' value='Enregistrer'/>
</form>
 </template>
