<template name="uploadtemplate">
<link href="/css/style.css" rel ="stylesheet"/>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Semantic UI (looks better when only Semantic UI is used)</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label>Multiple files</label>
                        <pre class="well">&#123;&#123;&gt; upload_semanticUI multiple=true &#125;&#125;</pre>
                        {{> upload_semanticUI multiple=true }}</li>
                </ul>
            </div>
        </div>
        <div class="panel">
            <h3>Uploaded Following Files</h3>
            <p>
                {{> uploadedInfo uploads }}
            </p>
        </div>
    </div>
</template>


<template name="uploadedInfo">
    <div class="documentList">
        <ul class="list-inline">
            {{#each this}}
                <li class="documentItem">
                    <a href="/upload/{{path}}"><img src="{{src}}"></a><br/>
                    <label>{{ name }}</label> <br/>
                    {{ size }} B<br>
                    {{#if _id}}
                        <a class="btn btn-danger deleteUpload">Delete</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>

